@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

h1,p{
    color: #04146c;

}

p{
    width: 40%;
    margin: 10%;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: auto;
    margin-right: 15px;
}

h2{
    margin-bottom: 2px;
    color: #0a2ff1;
    margin-left: 10px;
    
}

img{
    width: 55px;
    margin-right: 15px;
    vertical-align: middle;

}

.content{
    display: inline-block;
}