@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    font-family: 'Source+Code+Pro', sans-serif;  
}

main{
    text-align: center;
    margin: auto;
    width: 50%;

}

img{
    width:600px; 
    vertical-align: middle;
    margin-left: 30px;
    margin: auto;
}

h2{
    font-size: 29pt;
     background-color:#04146c ; 
     color: #fff;
}
h1{ 
   font-size: 66pt; color: #04146c;
}

h3{
    font-size: 20pt; 
    color: #04146c;
    font-weight:400;
}

p{
    font-size: 18pt;
    background-color: #edf7ff;
    color: #04146c;
    margin: auto;
}


